<div class="container">
  <div class="row">
    <div class="col">
      <img src="img/3.jpg" class="img-thumbnail rounded-circle" width="150" alt="Muhammad Syaifuddin">
      <h1 class="display-4">Muhammad Syaifuddin</h1>
      <p class="lead">Fullstack | Web Developer</p>
    </div>
  </div>
</div>